/* CONTACTO - MAIN */
.required {
    font-size: var(--font-small);
    color: var(--red-solid);
    text-align: center;
}
.admin__input--contact {
    width: 60%;
}
.admin__select {
    border: 2px solid var(--dark-bg-solid);
    border-radius: 6px;
    padding: var(--spacing-12);  
    font-size: var(--font-medium);
    font-weight: 500;
}
.admin__box--text-area {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
}
.text-area {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    resize: vertical;
    border: 1px solid var(--black-solid);
    border-radius: 4px;
    padding: var(--spacing-12);
}
.admin__box--start {
    justify-content: flex-start;
    gap: var(--spacing-68);
}