/* EDIT */
.item-cover {
    display: grid;
    place-items: center;
}
.item-cover__img {
    border-bottom: 1px solid var(--red-solid);
}
.item-cover__text {
    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: var(--font-medium);
}