/* ITEM - ITEM-SELECTED */
.item {
    display: flex;
    align-items: center;
}
.item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
}
.item__collection {
    font-weight: 500;
    font-size: var(--font-small);
}
.item__tittle {
    font-weight: 700;
    font-size: var(--font-jumbo);
}
.item__text {
    font-weight: 400;
    font-size: var(--font-large);
}
.item__price {
    font-weight: 400;
    font-size: var(--font-jumbo);
}
.item__promo {
    color: var(--blue-solid);
    font-weight: 700;
    font-size: var(--font-xsmall);
}
.item__link {
    text-decoration: underline;
}