/* Normalizacion manual de estilos y utilidades */
*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--black-solid);
}
a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
header, 
footer {
    background-color: var(--dark-bg-solid);
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}
ul, 
ol {
    list-style-type: none;
}
p {
    font-size: var(--font-medium);
}
img {
    width: 100%;
}
a iconify-icon {
    color: inherit;
}