/* HOME - BANNER */
.hero__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--light-bg-solid);
    padding: var(--spacing-12) var(--spacing-68);
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.hero__link:hover {
    background-color: var(--red-900);
    color: var(--light-font-solid);
}

/* HOME - COLLECTION */
.collection__link {
    display: inline-block;
    font-size: var(--font-medium);
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-16) var(--spacing-36);
    border-radius: 50px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.collection__link:hover {
    background-color: var(--red-900);
}

/* SHOP - PAGINATION */
.pagination {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    gap: var(--spacing-8);
}
.pagination__btn {
    background-color: var(--light-bg-solid);
    border: 1px solid var(--dark-bg-300);
    border-radius: calc(var(--spacing-8) / 2 );
    font-size: var(--font-small);
    font-weight: 700;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 44px;
    height: 44px;
}
.pagination__btn--back,
.pagination__btn--next {
    color: var(--dark-bg-500);
    font-size: var(--font-large);
}
.pagination__btn:hover {
    background-color: var(--dark-bg-500);
    color: var(--light-font-solid); 
}

/* ITEM - ADD TO CART */
.add-to-cart {
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
}
.add-to-cart__btn {
    cursor: pointer;
    width: 38px;
    height: 38px;
    background-color: var(--dark-bg-900);
    border-style: none;
    color: var(--light-font-solid);
    font-size: var(--font-medium);
}
.add-to-cart__input {
    width: 38px;
    height: 32px;
    text-align: center;
    appearance: textfield;
    border-style: none;
    border: 0.5px solid var(--dark-bg-300);
}
.add-to-cart__input::-webkit-inner-spin-button,
.add-to-cart__input::-webkit-outer-spin-button {
    appearance: none;
}
.add-to-cart__submit {
    cursor: pointer;
    font-weight: 400;
    font-size: var(--font-medium);
    background-color: var(--red-solid);
    padding: var(--spacing-8) var(--spacing-16);
    border-style: none;
    color: var(--light-font-solid);
    font-family: var(--base-font);
    transition: all 0.2s ease-in-out;
}
.add-to-cart__submit:hover {
    filter: brightness(0.8)
}

/* ADMIN - LOGIN */
.admin__btn {
    cursor: pointer;
    font-weight: 400;
    font-size: var(--font-xsmall);
    padding: var(--spacing-12) var(--spacing-28);
    color: var(--light-font-solid);
    background-color: var(--red-solid);
    border-style: none;
    transition: all 0.2s ease-in-out;
}
.admin__btn:hover {
    filter: brightness(0.8);
}

/* ADMIN - ADMIN.HTML */
.admin__btn--add {
    display: grid;
    place-items: center;
    width: 3.9rem;
    height: 3.9rem;
    font-size: var(--font-large);
    font-weight: 700;
    border: 6px;
    background-color: var(--red-solid);
    color: var(--light-font-solid);
    border-radius: 4px;
}