/* CREATE - MAIN */
.container--create {
    max-width: 80rem;
    margin-right: auto;
}
.admin__tittle--margin {
    margin-bottom: var(--spacing-36);
}
.filter__input--admin {
    width: auto;
    padding-right: var(--spacing-68);
}
.admin__input--width-30 {
    width: 30rem;
}
.admin__input--width-15 {
    width: 15rem;
}
.admin__input--width-5 {
    width: 5rem;
}
.text-area--create {
    resize: both;
    width: 100%;
}
.admin__box--gap {
    gap: var(--spacing-8);
}