/* SHOP - MAIN */
.main-container--shop {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: var(--spacing-68) var(--spacing-16);
}
.results__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}