<footer class="footer"> <!-- inicio del footer -->
    <nav class="navbar container"> <!-- barra de navagacion --> 
        <ul class="navbar__items">
            <li class="navbar__item">
                <a class="navbar__link" href="/shop">SHOP</a>
            </li>

            <li class="navbar__item">
                <a class="navbar__link" href="./pages/admin/register.html">REGISTRARSE</a>
            </li>

            <li class="navbar__item">
                <a class="navbar__link" href="./pages/admin/login.html">LOGIN</a>
            </li>

            <li class="navbar__item">
                <a class="navbar__link" href="./pages/shop/contacto.html">CONTACTO</a>
            </li>
        </ul>

        <picture> <!-- logo de la tienda -->
            <a href="/home">
                <img src="/img/multimedia/branding/isotype.svg" alt="Isotipo de la marca Funkoshop">
            </a>
        </picture> <!-- logo de la tienda -->
    </nav> <!-- barra de navagacion --> 

    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer> <!-- fin del footer -->

<script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="/js/glide.js"></script>
</body>
</html>