<section class="glide slider container"> <!-- ultimos lanzamientos -->
    <h2 class="slider__title">últimos lazamientos</h2>

    <div class="glide__track" data-glide-el="track">
        <ul class="slider__items glide__slides"> <!-- Listado de productos en ultimos lanzamientos -->
            <li class="slider__item glide__slide"> <!-- productos #1 en ultimos lanzamientos -->
                <article class="card-item">
                    <a class="card-item__link" href="./pages/shop/item.html">
                        <picture class="card-item__cover"> <!-- imagen del producto -->
                            <span class="card-item__tag">NUEVO</span>
                            <img class="card-item__img--front" src="./img/multimedia/star-wars/trooper-1.webp" alt="Figura funko de stormtrooper">

                            <img class="card-item__img--back" src="./img/multimedia/star-wars/trooper-box.webp" alt="Figura funko de stormtrooper en caja">
                        </picture> <!-- imagen del producto -->
        
                        <div class="card-item__content"> <!-- descripcion del producto -->
                            <p class="card-item__licence">STAR WARS</p>
        
                            <h4 class="card-item__name">STORMTROOPER LIGHTSABER</h4>
        
                            <p class="card-item__price">$ 1799,99.-</p>
        
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div> <!-- descripcion del producto -->
                    </a>
                </article> 
            </li> <!-- productos #1 en ultimos lanzamientos -->

            <li class="slider__item glide__slide"> <!-- productos #2 en ultimos lanzamientos -->
                <article class="card-item"> 
                    <a class="card-item__link" href="./pages/shop/item.html"> 
                        <picture class="card-item__cover"> <!-- imagen del producto -->
                            <span class="card-item__tag">NUEVO</span>
                            <img class="card-item__img--front" src="./img/multimedia/pokemon/pidgeotto-1.webp" alt="Figura funko de pidgeotto">

                            <img class="card-item__img--back" src="./img/multimedia/pokemon/pidgeotto-box.webp" alt="Figura funko de pidgeotto en caja">
                        </picture> <!-- imagen del producto -->
        
                        <div class="card-item__content"> <!-- descripcion del producto -->
                            <p class="card-item__licence">POKEMON</p>
        
                            <h4 class="card-item__name">PIDGEOTTO</h4>
        
                            <p class="card-item__price">$ 1799,99.-</p>
        
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div> <!-- descripcion del producto -->
                    </a>
                </article>
            </li> <!-- productos #2 en ultimos lanzamientos -->

            <li class="slider__item glide__slide"> <!-- productos #3 en ultimos lanzamientos -->
                <article class="card-item"> 
                    <a class="card-item__link" href="./pages/shop/item.html"> 
                        <picture class="card-item__cover"> <!-- imagen del producto -->
                            <span class="card-item__tag">NUEVO</span>
                            <img class="card-item__img--front" src="./img/multimedia/harry-potter/luna-1.webp" alt="funko luna lovegood lion mask">

                            <img class="card-item__img--back" src="./img/multimedia/harry-potter/luna-box.webp" alt="funko luna lovegood lion mask en caja">
                        </picture> <!-- imagen del producto --> 
        
                        <div class="card-item__content"> <!-- descripcion del producto -->
                            <p class="card-item__licence">HARRY POTTER</p>
        
                            <h4 class="card-item__name">LUNA LOVEGOOD LION MASK</h4>
        
                            <p class="card-item__price">$ 1799,99.-</p>
        
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div> <!-- descripcion del producto -->
                    </a>
                </article> 
            </li> <!-- productos #3 en ultimos lanzamientos -->
        </ul> <!-- Listado de productos en ultimos lanzamientos -->
    </div>

    <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><iconify-icon icon="tabler:chevron-left"></iconify-icon></button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><iconify-icon icon="tabler:chevron-right"></iconify-icon></button>
    </div>
</section> <!-- ultimos lanzamientos -->